body {
	width: 1000px;
	margin: 0;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	width: 100%;
	border-bottom: 1px solid #e2e2e2;
	height: 40px;
	background-color: #ffffff;
}

nav li a {
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	color: #333;
	font-weight: 700;
	text-decoration: none;
}

.nav-buttons {
	display: inline-block;
	margin: 0;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	font-style: normal;
	font-size: 10px;
	color: #333;
	font-weight: 700;
	padding-left: -15px;
}

.button-box {
	box-shadow: 0 3px 2px 0 rgba(0,0,0,0.06), inset -1px -1px 1px 0 rgba(0,0,0,0.02);
    border-bottom-color: #cecece;
    padding: 7px 9px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
    color: #333;
}

.left li{
	float: left;
	clear: right;
	padding: 0 15px;
}

.right li{
	float: right;
	font-size: 9px;
	font-weight: 700;
	font-style: normal;
	margin-right: 10px;
}

.nav-logo {
	margin-top: -11px;
}

.nav-right-article {
    font-weight: 400;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;font-weight: 400;
    font-style: normal;
}

.button-nav-right {
	background-color: #326891;
    border: 1px solid #265E8B;
    color: #fff;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
	font-style: normal;
	font-size: 10px;
	border-radius: 3px;
    color: #fff !important;
    display: inline-block;
    font-size: 1em;
    font-family: nyt-franklin, sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 7px 10px 6px;
    text-transform: none;
    text-decoration: none;
    margin-right: 13px;
    margin-top: -9px !important;
}

.content {
	position: relative;
	width: 100%;
	right: 0;
	top: 0;
	left: 0;
	padding-top: 47px;
	margin-left: 50px;
}

.center {
	text-align: center;
}

figure {
	margin: 0;
}

figcaption {
	width: 525px;
	font-size: 14px;
	font-weight: 700px;
}

.container {
	position: relative;
	width: 960px;
	right: 0;
	top: 0;
}

.aside {
	position: absolute;
	float: left;
	clear: right;
	width: 360px;
	padding-top: 200px;
}

.comment-text {
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    margin-bottom: 0;
    color: #666;
    margin-top: 75px;
}

.text {
	position: relative;
	width: 550px;
	float: left;
	clear: right;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 25px;
	font-size: 16px;
	line-height: 1.6;
}

.banner {
	position: relative;
    height: 60px;
    overflow: hidden;
    top: 46px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.06);
    border-bottom: 1px solid #ccc;
    width: 15000px;
}

.left {
	float: left;
	clear: right;
	padding-right: 10px;
}

.thumb {
	display: inline-block !important;
    width: 200px;
    padding-left: 7px;
	border-right: 1px solid #e2e2e2;
}

.thumb-text {
    font-size: 11px;
    line-height: 14px;
    font-weight: 300;
    font-style: normal;
    font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
    color: #333;
    padding-right: 10px;
}

.credit {
	font-size: 10px;
	color: #999;
}

section {
	float: left;
	clear: both;
	position: relative;
	width: 705px;
	border-top: 1px solid #eeeeee;
	margin-left: 110px;
}

.section-img {
	display: inline-block;
	width: 170px;
	margin-right: 27px;
}

.site-index {
	border-top: 1px solid black;
	position: static;
	width: 100%;
	float: left;
	clear: both;
	margin-left: 50px;
	margin-bottom: 35px;
}

.column {
	font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    font-size: 11px;
    line-height: 1.8;
    float: left;
    clear: right;
    width: 165px;
    color: #000000;
}

.column h3 {
	font-size: 13px;
    line-height: 11px;
    font-weight: 700;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000000;
}

ul {
	padding-left: 0;
}

.column ul li {
	list-style-type: none;
	padding-bottom: 3px;
}

.column ul li a {
	text-decoration: none;
	color: #000000;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
}

.ny-logo {
float: left;
}

.footer-list {
	clear: left !important;
}

.label {
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
}

h1 {
	font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    font-style: normal;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    font-style: italic;
}

.recent-comments {
	font-size: 10px;
    line-height: 15px;
    font-weight: 900;
    font-style: normal;
    font-family: "nyt-franklin",arial,helvetica,sans-serif;
    color: #326891;
}

.bold {
	font-weight: 900;
	color: #000000;
}

footer {
	position: relative;
	clear: left;
	margin-left: 50px;
	border-top: 1px solid #999;
}

footer p {
	font-family: Arial, "times new roman",times,serif !important;    
	color: #999;
    font-size: 10px;
    line-height: 15px;
    font-style: normal;
    padding-left: 7px;
    padding-right: 7px;
    padding: 0 4px;
    line-height: 10px;
}

.footerpar {
	position: absolute;
	right: 0;
}
